.container {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid gray;
}

button {
  padding: 5px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background: #b8bdee;
  border-color: white;
}

table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 8em;
  box-sizing: border-box;
  margin: 0;
}

td:hover{
  cursor:pointer;
  border-color: red;
}

.whoseTurn {
  text-align: center;
}

.placedCat {
  background-image: url('../images/cat-face.png');
  background-size: cover;
}