* {
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
}
.container {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  text-align: center;
}

.menu-buttons {
  margin-top: 150px;
}

button {
  padding: 5px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}

button:hover{
  background: #b8bdee;
  border-color: white;
}

.whoseTurn {
  display: none;
  text-align: center;
}

p {
  width: 300px;
  font-size: 20px;
  margin: 0 auto;
  display: none;
}

#playerOneDefBoard, #playerOneAtkBoard, #playerTwoDefBoard, #playerTwoAtkBoard {
  display: none;
}

#startGame, #twoPlayer, #computer, #backToMain, #restart {
  display: none;
}

table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 8em;
  box-sizing: border-box;
  margin: 0;
}

td:hover{
  cursor:pointer;
  border-color: red;
}

.placedCat {
  background-image: url('../images/cat-face.png');
  background-size: cover;
}
.hit {
  background-color: rgba(255,0,0,0.4);
}
.miss {
  background-color: rgba(128,128,128,0.7)
}
.arrow {
  content: url('../images/arrow.png');
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
